/*Utils*/
:root {
  --title-color: #212121;
  --hero-title-color: #FFFFFF;
  --hover-color: #2196F3;
  --fontsize-title: 14px;
  --background-hero: #2F303A;
  --lineheight-basic: 1.14;
  --leter-spacingmain: 0.03em;
  --align-centermain: center;
  --font-weight-basic: 500;
  --background-second: #F5F4FA;
  --baze-cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Base*/
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic);
}
.link:hover, .link:focus {
  color: var(--hover-color);
}

/*Components*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: var(--leter-spacingmain);
}
@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-first {
  color: var(--hover-color);
}

.logo-second {
  color: #000;
}

.logo {
  display: block;
  padding: 24px 0 25px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-footer {
  display: block;
}

.logo-third {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: var(--leter-spacingmain);
  color: var(--hero-title-color);
}
@media screen and (min-width: 1200px) {
  .logo-third {
    font-size: 26px;
    line-height: 1.2;
  }
}

.street {
  font-size: var(--fontsize-title);
  letter-spacing: var(--leter-spacingmain);
  color: var(--hero-title-color);
  line-height: 1.71;
  display: block;
}

.link-nav {
  font-weight: var(--font-weight-basic);
  font-size: var(--fontsize-title);
  line-height: var(--lineheight-basic);
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--hover-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-head {
  font-weight: var(--font-weight-basic);
  font-size: var(--fontsize-title);
  line-height: var(--lineheight-basic);
  letter-spacing: 0.02em;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .link-head {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.button {
  display: block;
  font-family: inherit;
}

.header {
  background: var(--hero-title-color);
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-list-item {
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-info .header-info-item {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .header-list-info .header-info-item {
    margin-right: 50px;
  }
}

.header-info-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-info-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header-list-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-list-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.icon-info {
  fill: currentColor;
  margin-right: 8px;
}
.icon-info:hover, .icon-info:focus {
  fill: #2196F3;
}
@media screen and (min-width: 1200px) {
  .icon-info {
    margin-right: 10px;
  }
}

.burger-icon {
  fill: currentColor;
}
.burger-icon:hover, .burger-icon:focus {
  fill: #2196F3;
}

.hero {
  background: var(--background-hero);
  margin: 0;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-heder@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-heder@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-header@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-header@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Imgbg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imgbg.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desk-bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desk-bg@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-title {
  margin: 0 auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  text-transform: uppercase;
  color: var(--hero-title-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background: var(--hover-color);
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms var(--baze-cubic);
  transition: background-color 250ms var(--baze-cubic);
}
.button-hero:hover, .button-hero:focus {
  background-color: #188CE8;
}

.benefits {
  background: var(--hero-title-color);
}

.benefits-list__title {
  font-size: var(--fontsize-title);
  line-height: var(--lineheight-basic);
  letter-spacing: var(--leter-spacingmain);
  text-transform: uppercase;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}

.benefits-list__text {
  font-size: var(--fontsize-title);
  line-height: 1.71;
  letter-spacing: var(--leter-spacingmain);
  margin-top: 10px;
}

.benefits-list__container {
  max-width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .benefits-list__container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__container {
    width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.benefits-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
    margin-bottom: 0;
  }
}

.benefits-text {
  margin-top: 10px;
}

.work-example {
  display: none;
  background: var(--hero-title-color);
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work-example {
    display: block;
  }
}

.work-example__title {
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  color: var(--title-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -30px;
  }
}

.work-list__item {
  margin-right: 30px;
  position: relative;
  background: var(--hero-title-color);
}

.work-list__container {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: var(--align-centermain);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  padding: 27px 0;
}

.team {
  background: var(--background-second);
}

.team-list {
  background: var(--hero-title-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767.9px) {
  .team-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    margin-top: 0;
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.team-title {
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  color: var(--title-color);
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.title-after {
  font-weight: var(--font-weight-basic);
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  color: var(--title-color);
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .staff-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-list {
    margin-top: 50px;
  }
}

.team-text-container {
  padding-top: 30px;
}

.team-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  margin-top: 16px;
}

.link-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic);
}
.link-icon-list:hover, .link-icon-list:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.icon-team {
  fill: currentColor;
}

.item-icon:not(:last-child) {
  margin-right: 10px;
}

.client {
  background-color: #FFFFFF;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .list-client {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.list-client__item {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .list-client__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}

.list-client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFB1B8;
  max-width: 210px;
  height: 92px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--baze-cubic), border-color 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), border-color 250ms var(--baze-cubic);
  margin-right: 0;
}
.list-client__link:hover, .list-client__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .list-client__link {
    width: 170px;
  }
}
@media screen and (min-width: 768px) {
  .list-client__link {
    max-width: 226px;
  }
}

.list-client__icon {
  fill: currentColor;
  margin: 0;
}

.navigation {
  background: var(--background-hero);
}

.button-filter {
  font-weight: var(--font-weight-basic);
  font-size: 16px;
  line-height: 1.62;
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  color: var(--title-color);
  background: var(--background-second);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), box-shadow 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
}
.button-filter:hover, .button-filter:focus {
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-title-color);
}

.link-filter {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--baze-cubic);
  transition: -webkit-box-shadow 250ms var(--baze-cubic);
  transition: box-shadow 250ms var(--baze-cubic);
  transition: box-shadow 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
}
.link-filter:hover, .link-filter:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.title-part {
  text-transform: uppercase;
}

.text-filter {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--leter-spacingmain);
  margin-top: 4px;
}

.footer-nav {
  padding: 60px 0;
}

.filter-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 89px 0 76px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1199.9px) {
  .adress-cont {
    text-align: center;
    margin-bottom: 60px;
  }
}

.navigation-after {
  font-style: normal;
  margin-top: 20px;
}

.list-item-footer {
  margin-top: 9px;
}

.nav {
  font-size: var(--fontsize-title);
  letter-spacing: var(--leter-spacingmain);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  display: block;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.list-icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--baze-cubic);
  transition: background-color 250ms var(--baze-cubic);
}
.link-icon-footer:hover, .link-icon-footer:focus {
  background-color: #2196F3;
}

.icon-footer {
  fill: currentColor;
}

.item-icon-footer:not(:last-child) {
  margin-right: 10px;
}

.container-icon-footer {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container-icon-footer {
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container-icon-footer {
    margin-left: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .container-form {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199.9px) {
  .container-form {
    text-align: center;
    margin: 0 auto;
  }
}

.text-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 20px;
}

.button-form {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  padding: 10px 13px 10px 28px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--baze-cubic);
  transition: background-color 250ms var(--baze-cubic);
}
.button-form:hover {
  background-color: #188CE8;
}

.icon-footer-form {
  margin-left: 10px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .form-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-field {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767.9px) {
  .form-field {
    max-width: 450px;
  }
}
.form-field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .form-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-field {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--baze-cubic), visibility 250ms var(--baze-cubic);
  transition: opacity 250ms var(--baze-cubic), visibility 250ms var(--baze-cubic);
}

.form-modal {
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 609px;
  background-color: var(--hero-title-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--baze-cubic);
  transition: -webkit-transform 250ms var(--baze-cubic);
  transition: transform 250ms var(--baze-cubic);
  transition: transform 250ms var(--baze-cubic), -webkit-transform 250ms var(--baze-cubic);
  padding: 40px;
}
@media screen and (max-width: 1199.9px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--hero-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms var(--baze-cubic);
  transition: fill 250ms var(--baze-cubic);
}
.close-btn:hover {
  fill: var(--hover-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-field-modal {
  position: relative;
}
.form-field-modal:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0;
  margin-bottom: 4px;
}

.form-input {
  outline: transparent;
  width: 100%;
  padding: 0;
  padding-left: 42px;
  margin: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--baze-cubic);
  transition: border 250ms var(--baze-cubic);
}
@media screen and (max-width: 1199.9px) {
  .form-input {
    max-width: 370px;
  }
}
.form-input:focus {
  border: 1px solid #2196F3;
}
@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}

.text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .text-modal {
    line-height: 1.15;
  }
}

.icon-form-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--baze-cubic);
  transition: fill 250ms var(--baze-cubic);
}

.form-input:focus + .icon-form-modal {
  fill: var(--hover-color);
}

.text-modal-form {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--baze-cubic);
  transition: border 250ms var(--baze-cubic);
}
@media screen and (max-width: 1199.9px) {
  .text-modal-form {
    max-width: 370px;
  }
}
.text-modal-form::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-modal-form::-moz-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-modal-form:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-modal-form::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-modal-form::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-modal-form:focus {
  border: 1px solid var(--hover-color);
}
@media screen and (min-width: 1200px) {
  .text-modal-form {
    width: 448px;
  }
}

.check-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  margin-left: 7px;
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

.label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .label-check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-form-modal {
  padding: 10px 52px;
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  border: none;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--baze-cubic);
  transition: background-color 250ms var(--baze-cubic);
}
.btn-form-modal:hover, .btn-form-modal:focus {
  background-color: #188CE8;
}

.form-checkbox {
  cursor: pointer;
}

.form-checkbox:checked + .form-check-icon .unchecked {
  opacity: 0;
}

.form-checkbox:checked + .form-check-icon .checked {
  opacity: 1;
}

.form-check-icon .unchecked {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--baze-cubic);
  transition: opacity 250ms var(--baze-cubic);
}

.form-check-icon .checked {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--baze-cubic);
  transition: opacity 250ms var(--baze-cubic);
}

.form-check-icon {
  margin-right: 7px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.filter-list-item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.filter-list-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.link-filter {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--baze-cubic);
  transition: -webkit-box-shadow 250ms var(--baze-cubic);
  transition: box-shadow 250ms var(--baze-cubic);
  transition: box-shadow 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
}
.link-filter:hover, .link-filter:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms var(--baze-cubic);
  transition: -webkit-transform 250ms var(--baze-cubic);
  transition: transform 250ms var(--baze-cubic);
  transition: transform 250ms var(--baze-cubic), -webkit-transform 250ms var(--baze-cubic);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
}

.title-filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-filter {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--leter-spacingmain);
  margin-top: 4px;
}

.filter-container {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
}

.title-part {
  text-transform: uppercase;
}

.work-item {
  background: var(--hero-title-color);
}

.filter-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-nav:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  font-weight: var(--font-weight-basic);
  font-size: 16px;
  line-height: 1.62;
  text-align: var(--align-centermain);
  letter-spacing: var(--leter-spacingmain);
  color: var(--title-color);
  background: var(--background-second);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), box-shadow 250ms var(--baze-cubic);
  transition: color 250ms var(--baze-cubic), background-color 250ms var(--baze-cubic), box-shadow 250ms var(--baze-cubic), -webkit-box-shadow 250ms var(--baze-cubic);
}
.button-filter:hover, .button-filter:focus {
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-title-color);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  padding: 48px 0 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: var(--hero-title-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.current-mobile {
  color: var(--hover-color);
}

.mobile-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-contacts {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
}
.mobile-contacts-tel:hover {
  color: var(--hover-color);
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}
.mobile-contacts-mail:hover {
  color: var(--hover-color);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.menu-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.burger-icon {
  fill: black;
}/*# sourceMappingURL=main.css.map */