.navigation-after {
    font-style: normal;
    margin-top: 20px;
}

.list-item-footer {
    margin-top: 9px;
}

.nav {
    font-size: var(--fontsize-title);
    letter-spacing: var(--leter-spacingmain);
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    display: block;
}