.work-item {
    background: var(--hero-title-color);
}

.filter-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 15px;
    margin-bottom: 40px;


    @media screen and (min-width:768px) {
        flex-wrap: nowrap;
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }
}

.button-nav:not(:last-child) {
    margin-right: 8px;
}

.button-filter {
    font-weight: var(--font-weight-basic);
    font-size: 16px;
    line-height: 1.62;
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    background: var(--background-second);
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 4px;
    border: none;
    transition: color 250ms var(--baze-cubic),
        background-color 250ms var(--baze-cubic),
        box-shadow 250ms var(--baze-cubic);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--hero-title-color);
    }

    @media screen and (min-width:768px) {
        padding: 6px 22px;
    }
}