.container-form {
    margin-left: 93px;
}

.text-form {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 20px;
}

.button-form {
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    padding: 10px 13px 10px 28px;
    margin: 0;
    cursor: pointer;
    transition: background-color 250ms var(--baze-cubic);

    &:hover {
        background-color: #188CE8;
    }
}



.icon-footer-form {
    margin-left: 10px;
}

.form-footer {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: inline-block;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}