.navigation {
    background: var(--background-hero);
}

.button-filter {
    font-weight: var(--font-weight-basic);
    font-size: 16px;
    line-height: 1.62;
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    background: var(--background-second);
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    transition: color 250ms var(--baze-cubic),
        background-color 250ms var(--baze-cubic),
        box-shadow 250ms var(--baze-cubic);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--hero-title-color);
    }
}

.link-filter {
    display: block;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: box-shadow 250ms var(--baze-cubic);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.title-filter {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.title-part {
    text-transform: uppercase;
}

.text-filter {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: var(--leter-spacingmain);
    margin-top: 4px;
}

.footer-nav {
    padding: 60px 0;
}

.filter-nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}