.hero {
    background: var(--background-hero);
    margin: 0;
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@1x.jpg);

    @media screen and (min-width:1200px) {
        padding: 200px 0;
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imgbg.jpg);
    }
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background: var(--hover-color);
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--baze-cubic);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}