.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: var(--leter-spacingmain);

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.2;
    }
}

.logo-first {
    color: var(--hover-color);
}

.logo-second {
    color: #000;
}

.logo {
    display: block;
    padding: 24px 0 25px;

    @media screen and (min-width:768px) {
        margin-right: 93px;
    }
}

.logo-footer {
    display: block;
}

.logo-third {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: var(--leter-spacingmain);
    color: var(--hero-title-color);

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.2;
    }
}

.street {
    font-size: var(--fontsize-title);
    letter-spacing: var(--leter-spacingmain);
    color: var(--hero-title-color);
    line-height: 1.71;
    display: block;
}