.link-nav {
    font-weight: var(--font-weight-basic);
    font-size: var(--fontsize-title);
    line-height: var(--lineheight-basic);
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current {
    color: var(--hover-color);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--hover-color);
        border-radius: 2px;
    }
}


.header-list {
    display: flex;
}



.link-head {
    font-weight: var(--font-weight-basic);
    font-size: var(--fontsize-title);
    line-height: var(--lineheight-basic);
    letter-spacing: 0.02em;
    color: inherit;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}