.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.filter-list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}


.filter-list-item:hover .overlay {
    transform: translateY(0);
}

.link-filter {
    display: block;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: box-shadow 250ms var(--baze-cubic);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    transform: translateY(101%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transition: transform 250ms var(--baze-cubic);
}

.overlay-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-title-color);
}

.title-filter {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.text-filter {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: var(--leter-spacingmain);
    margin-top: 4px;
}

.filter-container {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}

.title-part {
    text-transform: uppercase;
}